<div class="form_container">
<div>
  <label for="intervalInput">Timer Interval (ms):</label>
  <input id="intervalInput" type="number" [(ngModel)]="timerInterval" (change)="onChangeIntervalAndSize()" />
</div>

<div>
  <label for="dataSizeInput">Data Size:</label>
  <input id="dataSizeInput" type="number" [(ngModel)]="dataSize"  (change)="onChangeIntervalAndSize()" />
</div>
  <div>
    <label for="additionalIds">Additional Ids:</label>
    <input id="additionalIds" type="text" [(ngModel)]="additionalIds"  (blur)="onSearchBlur()" />
  </div>
  <div>
    <button id="filterId" type="submit" (click)="onSearch()" >Filter</button>
  </div>
</div>

<div class="table_container">
<table>
  <thead>
  <tr>
    <th>ID</th>
    <th>Int</th>
    <th>Float</th>
    <th>Color</th>
    <th>Child</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let element of filteredElements.length ? filteredElements : last10Elements">
    <td>{{ element.id }}</td>
    <td>{{ element.int }}</td>
    <td>{{ element.float }}</td>
    <td [style.background-color]="element.color">{{ element.color }}</td>
    <td>
      <table>
        <thead>
        <tr>
          <th>ID</th>
          <th>Color</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>{{ element.child.id }}</td>
          <td [style.background-color]="element.child.color">{{ element.child.color }}</td>
        </tr>
        </tbody>
      </table>
    </td>
  </tr>
  </tbody>
</table>

</div>
